.calendarContainer {
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    h2 {
      margin-bottom: 20px;
    }
  
    article{
      margin: 0 auto;
    }
    
    footer{
      position: initial;
    }
  }
  