/* components/Skills.module.css */
.skillsContainer {
  // margin: 20px;
  // padding: 20px;
  border-radius: 8px;
  text-align: -webkit-center;
  p{
    max-width: 1024px;
    margin: 0 auto;
    padding-bottom: 30px;
    text-align: center;
    font-size: 20px;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
}

.skill {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.skillName {
  width: 20%;
  font-weight: bold;
  text-align: right;
}

.progressBarContainer {
  width: 60%;
  background-color: #e0e0e0;
  border-radius: 8px;
  overflow: hidden;
  margin: 0 10px;
}

.progressBar {
  height: 20px;
  border-radius: 8px 0 0 8px;
}

.percentage {
  width: 10%;
  text-align: left;
}

.red {
  background-color: rgb(189, 44, 129);
}

.orange {
  background-color: rgb(116, 44, 231);
}

.purple {
  background-color: rgb(31, 82, 223);
}

.blue {
  background-color: rgb(2, 136, 189);
}

.green {
  background-color: rgb(11, 211, 144);
}
